
<div class="reg" >
    <p class="titulo">{{categoria}}</p>
    <div *ngFor="let field of formFields">
        {{field}} <br> <input type="text"> <br>
    </div>
   Fecha Antigüedad <br><input type="date"><br>
   Fecha Ingreso<br><input type="date"><br>
   Fecha Baja<br><input type="date"><br>
   CURP/CÉDULA<br> <input type="text"> <br>
   RFC/Identificador<br><input type="text"><br>
   Pasaporte<br> <input type="text"> <br>
   Fecha Nacimiento<br> <input type="date"> <br>
   Sexo <br> <select name="sexo">
       <option value="masculino">Masculino</option>
       <option value="femenino">Femenino</option>
   </select> <br>
   Estado Civil<br> <select name="estadoCivil">
    <option value="soltero">Soltero</option>
    <option value="casado">Casado</option>
</select> <br>
    Nacionalidad<br> <select name="nacionalidad">
        <option value="mexicana">Mexicana</option>
        <option value="eua">Estadounidense</option>
    </select> <br>
    País nacimiento <br> <select name="pais">
        <option value="mexico">México</option>
        <option value="eua">Estados Unidos</option>
    </select> <br>
    Estado nacimiento<br> <select name="estado">
        <option value="veracruz">Veracruz</option>
        <option value="nl">Nuevo León</option>
    </select> <br>
    Situación Administrativa Empleado<br> <select name="situacion">
        <option value="sinPend">Sin pendientes</option>
        <option value="conPend">Con Pendientes</option>
    </select> <br>
    Ciudad nacimiento<br> <select name="ciudad">
        <option value="veracruz">Veracruz</option>
        <option value="nl">Nuevo León</option>
    </select> <br>
    Disponibilidad Mensual <br><input type="text"> <br>
    <button (click)="invokeGuardar(categoria)">Guardar</button>
</div>


