<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DOMICILIO</title>
</head>
<body>
    <div align="center">
    <progress id="file" max="100" value="20"> 20% </progress>
    <form><br/>
        <p>Calle<br><input type="text"/></p>
        <p>Numero Exterior<br><input type="text"/></p>
        <p>Numero Interior<br><input type="text"/></p>
        <p>Colonia<br><input type="text"/></p>
        <p>Privada<br><input type="text"/></p>
        <p>Edificio<br><input type="text"/></p>
        </form></div>
        <div align="center">
            <form action="formulario2.html">
                <input type="submit" value="Siguiente" />
    </form>
    </div>
</body>
</html>