<div class="reg" >

    Nombre Completo <br> <input type="text" style="font-size: 25px;"><br>
    Telefono Celular <br> <input type="text" style="font-size: 25px;"><br>
    Direccion <br> <input type="text" style="font-size: 25px;"><br>
    Parentesco<br>
    <select name="Parentesco" style="font-size: 25px;">
        <option value="Padre">Padre</option>
        <option value="pensionista">Pensionista</option>        
        <option value="TrabajadorDomestico">Trabajador Domestico</option>
    </select> <br>
    Email<br> <input type="text" style="font-size: 25px;"><br>
    Tipo de Contacto<br>
    <select name="Contacto" style="font-size: 25px;">
        <option value="Familiar">Familiar</option>
        <option value="Amigo">Amigo</option>        
        <option value="Conocido">Conocido</option>
    </select> <br>
    Telefono Particular <br> <input type="text" style="font-size: 25px;"><br>
    Dependiente Socioeconomico<br>
    <select name="Dependiente" style="font-size: 25px;">
        <option value="si">SI</option>
        <option value="no">NO</option>
    </select> <br>
    <button (click)="invokeGuardar(categoria)">Guardar</button>

</div>