<div class="reg" >
    <p class="titulo">{{categoria}}</p>
    Nombre Completo <br> <input type="text"><br>
    Telefono Celular <br> <input type="text"><br>
    Direccion <br> <input type="text"><br>
    Parentesco<br>
    <select name="Parentesco">
        <option value="Padre">Padre</option>
        <option value="pensionista">Pensionista</option>        
        <option value="TrabajadorDomestico">Trabajador Domestico</option>
    </select> <br>
    Email<br> <input type="text"><br>
    Tipo de Contacto<br>
    <select name="Contacto">
        <option value="Familiar">Familiar</option>
        <option value="Amigo">Amigo</option>        
        <option value="Conocido">Conocido</option>
    </select> <br>
    Telefono Particular <br> <input type="text"><br>
    Dependiente Socioeconomico<br>
    <select name="Dependiente">
        <option value="si">SI</option>
        <option value="no">NO</option>
    </select> <br>
    <button (click)="invokeGuardar(categoria)">Guardar</button>

</div>